@use '../../../styles/breakpoints' as *;

.topbar {
  align-items: center;
  backdrop-filter: blur(8px);
  background: var(--color-bg-transparent);
  border-bottom: 1px solid var(--color-border-strong);
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-bottom: 32px;
  padding: 1.25rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav-menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

.mobile-menu {
  background-color: black;
  height: calc(100vh - 100%);
  left: 0;
  opacity: 0;
  position: absolute;
  top: calc(100% + 1px);
  transition: opacity 250ms ease, visibility 250ms;
  visibility: hidden;
  width: 100%;
}

.mobile-menu-btn {
  background-color: var(--color-bg-transparent);
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0px 16px;

  .line-one,
  .line-two,
  .line-three {
    background-color: #fff;
    height: 2px;
    transition: transform 0.3s, opacity 0.3s;
    width: 32px;
  }

  &.open {
    .line-one {
      transform: translateY(7px) rotate(45deg);
    }
    .line-two {
      opacity: 0;
    }
    .line-three {
      transform: translateY(-7px) rotate(-45deg);
    }

    &~.mobile-menu {
      opacity: 1;
      visibility: visible;
    }
  }
}

.nav-link {
  border-radius: 9999px;
  color: var(--color-text-subtle);
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans);
  font-size: 64px;
  font-weight: 600;
  line-height: 32px;
  padding: 16px;
  text-decoration: none;
  transition: background-color 150ms ease, color 150ms ease;
  width: fit-content;

  &.active {
    color: var(--color-text);
  }
}

.language-wrapper {
  display: flex;
  gap: 8px;
  padding: 32px 16px;

  button {
    background: none;
    border: none;
    color: var(--color-text-subtle);
    cursor: pointer;
    font-size: 24px;
    transition: color 150ms ease;

    &.active {
      color: var(--color-text);
    }
  }

  .divider {
    background: var(--color-bg-subtle);
    width: 1px;
  }
}

@include media-desktop {
  .topbar {
    justify-content: space-between;
  }

  .nav-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding: 0.5rem 0.75rem;

    &:hover {
      background: var(--color-accent-blue-soft);
      color: var(--color-accent-blue);
    }

    &.active {
    color: var(--color-text);

      &::after {
        border-bottom: 1px solid var(--color-text-blue);
        content: '';
        margin-top: 1px;
      }
    }
  }

  .language-wrapper {
    display: flex;
    gap: 8px;
    padding: 0px;

    button {
      font-size: 16px;
    }
  }
}